<object-stream>
  <system.dsaaca2.Datastructures.SillyList>
    <head>
      <next>
        <next>
          <next>
            <next>
              <next>
                <contents class="system.dsaaca2.Models.GamesMachine">
                  <name>Xbox 360</name>
                  <manufacturer>Microsoft</manufacturer>
                  <description>Home console</description>
                  <type>Console</type>
                  <media>CD</media>
                  <image>https://m.media-amazon.com/images/W/MEDIAX_792452-T2/images/I/61oFqsoj9nL.SS700.jpg</image>
                  <year>2008</year>
                  <price>50.0</price>
                  <games>
                    <head>
                      <contents class="system.dsaaca2.Models.Game">
                        <name>Crash Bandicoot</name>
                        <publisher>Sony</publisher>
                        <description>silly guy</description>
                        <developers>Naughty Dog</developers>
                        <cover>https://www.retrosales.com.au/cdn/shop/files/crash_mind_over_mutant_xb3_cover.jpg?v=1695176337</cover>
                        <gamesMachine reference="../../../.."/>
                        <year>2008</year>
                        <ports/>
                      </contents>
                    </head>
                  </games>
                </contents>
              </next>
              <contents class="system.dsaaca2.Models.GamesMachine">
                <name>GameBoy</name>
                <manufacturer>Nintendo</manufacturer>
                <description>portable games console</description>
                <type>Portable Console</type>
                <media>Cartridge</media>
                <image>https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Game-Boy-FL.jpg/1024px-Game-Boy-FL.jpg</image>
                <year>1989</year>
                <price>300.0</price>
                <games>
                  <head>
                    <contents class="system.dsaaca2.Models.Game">
                      <name>Super Mario</name>
                      <publisher>Nintendo</publisher>
                      <description>mario</description>
                      <developers>Nintendo</developers>
                      <cover>https://upload.wikimedia.org/wikipedia/en/2/22/Super-mario-land-gameboy-boxart.png</cover>
                      <gamesMachine reference="../../../.."/>
                      <year>1990</year>
                      <ports>
                        <head>
                          <contents class="system.dsaaca2.Models.GamePort">
                            <originalGame reference="../../../.."/>
                            <machinePortedTo>
                              <name>Wii</name>
                              <manufacturer>Nintendo</manufacturer>
                              <description>fun interactive games console</description>
                              <type>console</type>
                              <media>CD</media>
                              <image>https://ie.static.webuy.com/product_images/Gaming/Wii%20Consoles/SWIIWIIE005_l.jpg</image>
                              <year>2006</year>
                              <price>50.0</price>
                              <games>
                                <head>
                                  <next>
                                    <contents class="system.dsaaca2.Models.Game">
                                      <name>Wii Sports</name>
                                      <publisher>Nintendo</publisher>
                                      <description>sport simulator</description>
                                      <developers>Tsutomu Kaneshige</developers>
                                      <cover>https://upload.wikimedia.org/wikipedia/en/thumb/e/e0/Wii_Sports_Europe.jpg/220px-Wii_Sports_Europe.jpg</cover>
                                      <gamesMachine reference="../../../../.."/>
                                      <year>2006</year>
                                      <ports/>
                                    </contents>
                                  </next>
                                  <contents class="system.dsaaca2.Models.Game">
                                    <name>Crash Bandicoot</name>
                                    <publisher>Sony</publisher>
                                    <description>silly guy</description>
                                    <developers>Naughty Dog</developers>
                                    <cover>https://www.retrosales.com.au/cdn/shop/files/crash_mind_over_mutant_xb3_cover.jpg?v=1695176337</cover>
                                    <gamesMachine reference="../../../.."/>
                                    <year>2009</year>
                                    <ports>
                                      <head>
                                        <contents class="system.dsaaca2.Models.GamePort">
                                          <originalGame reference="../../../.."/>
                                          <machinePortedTo>
                                            <name>ps4</name>
                                            <manufacturer>sony</manufacturer>
                                            <description>ps3 upgrade</description>
                                            <type>console</type>
                                            <media>cd</media>
                                            <image>https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Sony-PlayStation-4-PS4-wDualShock-4.jpg/1200px-Sony-PlayStation-4-PS4-wDualShock-4.jpg</image>
                                            <year>2013</year>
                                            <price>200.0</price>
                                            <games/>
                                          </machinePortedTo>
                                          <originalMachine reference="../../../../../../.."/>
                                          <developers>Sony</developers>
                                          <cover>https://ie.static.webuy.com/product_images/Gaming/Playstation4%20Software/5030917211034_l.jpg</cover>
                                          <portYear>2017</portYear>
                                        </contents>
                                      </head>
                                    </ports>
                                  </contents>
                                </head>
                              </games>
                            </machinePortedTo>
                            <originalMachine reference="../../../../../../.."/>
                            <developers>Nintendo</developers>
                            <cover>https://m.media-amazon.com/images/I/81P4pHFbj3L._AC_UF1000,1000_QL80_.jpg</cover>
                            <portYear>2010</portYear>
                          </contents>
                        </head>
                      </ports>
                    </contents>
                  </head>
                </games>
              </contents>
            </next>
            <contents class="system.dsaaca2.Models.GamesMachine" reference="../next/contents/games/head/contents/ports/head/contents/machinePortedTo"/>
          </next>
          <contents class="system.dsaaca2.Models.GamesMachine">
            <name>SEGA GENESIS</name>
            <manufacturer>sega</manufacturer>
            <description>VES</description>
            <type>Console</type>
            <media>Cartridge</media>
            <image>https://cdn.vox-cdn.com/thumbor/d2Pwy35Tic-JLNqGvzgwhHc4UDQ=/0x0:800x583/1400x1400/filters:focal(400x292:401x293)/cdn.vox-cdn.com/uploads/chorus_asset/file/15996852/a02kz8aey4wczznpm49r.jpg</image>
            <year>1988</year>
            <price>400.0</price>
            <games>
              <head>
                <contents class="system.dsaaca2.Models.Game">
                  <name>Sonic The hedgehog 2</name>
                  <publisher>sega</publisher>
                  <description>fast guy</description>
                  <developers>sega</developers>
                  <cover>https://upload.wikimedia.org/wikipedia/en/0/07/Sonic3-box-us-225.jpg</cover>
                  <gamesMachine reference="../../../.."/>
                  <year>1989</year>
                  <ports/>
                </contents>
              </head>
            </games>
          </contents>
        </next>
        <contents class="system.dsaaca2.Models.GamesMachine">
          <name>Ps3</name>
          <manufacturer>Sony</manufacturer>
          <description>console</description>
          <type>console</type>
          <media>Cd</media>
          <image>https://m.media-amazon.com/images/I/81P4pHFbj3L._AC_UF1000,1000_QL80_.jpg</image>
          <year>2003</year>
          <price>50.0</price>
          <games>
            <head>
              <contents class="system.dsaaca2.Models.Game">
                <name>The last of us 1</name>
                <publisher>Sony</publisher>
                <description>zombie</description>
                <developers>Naughty Dog</developers>
                <cover>https://upload.wikimedia.org/wikipedia/en/4/46/Video_Game_Cover_-_The_Last_of_Us.jpg</cover>
                <gamesMachine reference="../../../.."/>
                <year>2009</year>
                <ports>
                  <head>
                    <contents class="system.dsaaca2.Models.GamePort">
                      <originalGame reference="../../../.."/>
                      <machinePortedTo reference="../../../../../../../../next/next/next/contents/games/head/contents/ports/head/contents/machinePortedTo/games/head/contents/ports/head/contents/machinePortedTo"/>
                      <originalMachine reference="../../../../../../.."/>
                      <developers>Naughty Dog</developers>
                      <cover>https://ie.static.webuy.com/product_images/Gaming/Playstation4%20Software/711719441717_l.jpg</cover>
                      <portYear>2017</portYear>
                    </contents>
                  </head>
                </ports>
              </contents>
            </head>
          </games>
        </contents>
      </next>
      <contents class="system.dsaaca2.Models.GamesMachine" reference="../next/next/next/next/contents/games/head/contents/ports/head/contents/machinePortedTo/games/head/contents/ports/head/contents/machinePortedTo"/>
    </head>
  </system.dsaaca2.Datastructures.SillyList>
</object-stream>