<object-stream>
  <system.dsaaca2.Datastructures.SillyList>
    <head>
        <next>
            <next>
                <contents class="system.dsaaca2.Models.GamesMachine">
                    <name>JJJJJJJJJJJJJJJJJ</name>
                    <manufacturer>1</manufacturer>
                    <description>1</description>
                    <type>1</type>
                    <media>1</media>
                    <image>1</image>
                    <year>2000</year>
                    <price>1.0</price>
                    <games>
                        <head>
                            <next>
                                <contents class="system.dsaaca2.Models.Game">
                                    <name>g</name>
                                    <publisher>g</publisher>
                                    <description>g</description>
                                    <developers>g</developers>
                                    <cover>g</cover>
                                    <gamesMachine reference="../../../../.."/>
                                    <year>2000</year>
                                    <ports/>
                                </contents>
                            </next>
                            <contents class="system.dsaaca2.Models.Game">
                                <name>f</name>
                                <publisher>f</publisher>
                                <description>f</description>
                                <developers>f</developers>
                                <cover>f</cover>
                                <gamesMachine reference="../../../.."/>
                                <year>2000</year>
                                <ports>
                                    <head>
                                        <contents class="system.dsaaca2.Models.GamePort">
                                            <originalGame reference="../../../.."/>
                                            <machinePortedTo>
                                                <name>3</name>
                                                <manufacturer>3</manufacturer>
                                                <description>3</description>
                                                <type>3</type>
                                                <media>3</media>
                                                <image>3</image>
                                                <year>2002</year>
                                                <price>3.0</price>
                                                <games>
                                                    <head>
                                                        <contents class="system.dsaaca2.Models.Game">
                                                            <name>k</name>
                                                            <publisher>k</publisher>
                                                            <description>k</description>
                                                            <developers>k</developers>
                                                            <cover>k</cover>
                                                            <gamesMachine reference="../../../.."/>
                                                            <year>2002</year>
                                                            <ports/>
                                                        </contents>
                                                    </head>
                                                </games>
                                            </machinePortedTo>
                                            <originalMachine reference="../../../../../../.."/>
                                            <developers>i</developers>
                                            <cover>i</cover>
                                            <portYear>2003</portYear>
                                        </contents>
                                    </head>
                                </ports>
                            </contents>
                        </head>
                    </games>
                </contents>
            </next>
            <contents class="system.dsaaca2.Models.GamesMachine">
                <name>2</name>
                <manufacturer>2</manufacturer>
                <description>2</description>
                <type>2</type>
                <media>2</media>
                <image>2</image>
                <year>2001</year>
                <price>2.0</price>
                <games>
                    <head>
                        <contents class="system.dsaaca2.Models.Game">
                            <name>j</name>
                            <publisher>j</publisher>
                            <description>j</description>
                            <developers>j</developers>
                            <cover>j</cover>
                            <gamesMachine reference="../../../.."/>
                            <year>2001</year>
                            <ports/>
                        </contents>
                    </head>
                </games>
            </contents>
        </next>
        <contents class="system.dsaaca2.Models.GamesMachine"
                  reference="../next/next/contents/games/head/contents/ports/head/contents/machinePortedTo"/>
    </head>
  </system.dsaaca2.Datastructures.SillyList>
</object-stream>