.machinePop{
    -fx-background-image: url('machinePopUp.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.gamePop{
    -fx-background-image: url('gameEditor.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;

}
.portPop{
    -fx-background-image: url('gamePortEditor.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;

}
/* Arcade-Style Button */
/* Arcade-Style Button with Black Background and Custom Colors (No Flash Animation) */
Button {
    -fx-background-color: #000000; /* Black background color */
    -fx-background-radius: 50px; /* Set a border-radius for a rounded look */
    -fx-border-radius: 50px; /* Set a border-radius for a rounded look */
    -fx-border-color:  white;
    -fx-text-fill: white; /* Text color */
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Clear font family */
    -fx-font-weight: bold;
    -fx-cursor: HAND; /* Set cursor to hand for better user feedback */
    -fx-padding: 15 30; /* Adjust padding for better appearance */
    -fx-effect: dropshadow(gaussian, #000000, 5, 5, 5, 5); /* Add a subtle drop shadow */
    -fx-transition: all 0.3s; /* Add transition for other animations */
}

/* Arcade Hover effect for the Button */
Button:hover {
    -fx-background-color: #222222; /* Darker black on hover */
    -fx-effect: dropshadow(gaussian, #000000, 8, 8, 8, 8); /* Enhance drop shadow on hover */
    -fx-text-fill: #FFDE59;
    -fx-scale-x: 1.1; /* Increase scale on hover */
    -fx-scale-y: 1.1;
    -fx-rotate: 5deg; /* Rotate slightly on hover */
}

.combo-box {
    -fx-prompt-text-fill: white;
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-text-fill: white;
}


/* styles.css */



.table-cell {
    -fx-font-weight: bold;
    -fx-font-size: 12px ;
    -fx-text-transform: uppercase;

}





.list-cell {
    -fx-border-color: #FFDE59;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-width: 1;
    -fx-padding: 5;
}