.machinePop{
    -fx-background-image: url('machinePopUp.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.gamePop{
    -fx-background-image: url('gameEditor.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;

}
.portPop{
    -fx-background-image: url('gamePortEditor.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;

}

Button {
    -fx-background-color: #000000;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color:  white;
    -fx-text-fill: white;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-weight: bold;
    -fx-cursor: HAND;
    -fx-padding: 5 5;
    -fx-effect: dropshadow(gaussian, #000000, 5, 5, 5, 5);
    -fx-transition: all 0.3s;
}


Button:hover {
    -fx-background-color: #222222;
    -fx-effect: dropshadow(gaussian, #000000, 8, 8, 8, 8);
    -fx-text-fill: #FFDE59;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-rotate: 5deg;
}

.combo-box {
    -fx-prompt-text-fill: white;
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-text-fill: white;
}


.table-cell {
    -fx-font-weight: bold;
    -fx-font-size: 12px ;
    -fx-text-transform: uppercase;

}



.viewerBg{
    -fx-background-image: url('viewer.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.list-cell {
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-width: 1;
    -fx-padding: 5;
}